{% extends 'base.html' %}

{% block title %}
書籍詳細
{% endblock %}

{% block content %}
<div class="">
    <img src="{{ book_data.image }}" alt="">
    <p>{{ book_data.title }}</p>
    <p>{{ book_data.author }}</p>
    <p>{{ book_data.salesDate }}</p>
    <p>{{ book_data.publisherName }}</p>
    <p>{{ book_data.size }}</p>
    <p>{{ book_data.itemCaption }}</p>

    <p>{{ book_data.reviewAverage }}</p>
    <p>{{ book_data.reviewCount }}</p>
    <p>{{ book_data.average }}</p>
</div>

{% endblock %}
