{% extends 'base.html' %}

{% block title %}
書籍検索
{% endblock %}

{% block content %}

<div class="mb-3">
    <h2>書籍検索</h2>
</div>

<div class="p-5 border">
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="error">
            <ul>
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if none_item %}
        <p>{{ none_item }}</p>
        {% endif %}
        {{ form.as_p }}
        <div class="text-end">
            <button type="submit" class="btn btn-primary">検索</button>
            <a href="{% url 'app:post_list' %}" class="btn btn-secondary">戻る</a>
        </div>
    </form>
</div>

{% endblock %}
