{% extends "base.html" %}

{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="container w-50 my-5 p-5 border">
    {% element h2 class="text-center mb-3" %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <div class="d-grid my-3">
            {% element button type="submit" class="btn btn-primary"%}
                {% trans "Change Password" %}
            {% endelement %}
        </div>
        {% endslot %}
    {% endelement %}
    </div>
{% endblock content %}
