{% extends "base.html" %}

{% load i18n %}
{% load allauth %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="container w-50 my-5 p-5 border">
        {% element h2 class="text-center mb-3" %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        {% endelement %}
    {% else %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                <div class="d-grid">
                    {% element button type="submit" name="action" class="btn btn-primary" %}
                    {% trans 'Change Password' %}
                    {% endelement %}
                </div>
            {% endslot %}
        {% endelement %}
        {% endif %}
    </div>
{% endblock content %}
